[submodule "lib/SQLiteCpp"]
	path = lib/SQLiteCpp
	url = git@github.com:SRombauts/SQLiteCpp
[submodule "lib/argparse"]
	path = lib/argparse
	url = git@github.com:p-ranav/argparse
[submodule "lib/json"]
	path = lib/json
	url = git@github.com:nlohmann/json
[submodule "lib/asio"]
	path = lib/asio
	url = git@github.com:chriskohlhoff/asio/
[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib
[submodule "lib/datasets"]
	path = lib/datasets
	url = git@github.com:cs-24-sw-8-11/datasets
